.formulario{
    background-color: #22222267;
}

.arrowdownCalendar, .arrowdownHospedes, .arrowdownCupom{
    cursor: pointer;
}

.arrowupCalendar,.arrowupHospedes, .arrowupCupom{
    cursor: pointer;
    display: none;
}

.enviarHover{
    cursor: pointer;
    transition: all 0.3s linear;
}
.enviarHover:hover{
    font-size: 1.2rem;
}


