header{
    position: fixed;
    z-index: 300;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.logoHeader{
    width: 65px;
    height: 65px;
}
.nav-link{
    font-size: 0.8rem;
}

.nav-link:hover{
    text-decoration: underline;
}